.featured-work-slider{
  .swiper-slide{
    height: auto;
  }
  .popup-featured-work {
    display: none;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    background: theme('colors.green.feat-work-continue');
    opacity: 0;
    position: fixed;
    top: 0;
    overflow: hidden;
  }

}
