.scroll-content-slides {
  overflow-x: auto; /* Activer le défilement horizontal pour la section */
  white-space: nowrap; /* Empêcher le retour à la ligne des éléments enfants */
  -webkit-overflow-scrolling: touch;
  cursor: grab;
    /* Propriétés spécifiques à Webkit (Chrome, Safari) */
    &::-webkit-scrollbar {
      display: none;
    }

    /* Propriétés spécifiques à Gecko (Firefox) */
    scrollbar-width: none;
    -moz-scrollbar {
      display: none;
    }
  .slide-item {
    flex: 1 0 auto;
    min-width: 100%;
    scroll-snap-align: start;
    @screen md{
      width: 246px;
    }
    @screen lg{
      width: 246px;
    }
    @screen xl{
      width: auto;
    }
  }

  > div {
    max-width: 100%; /* Ajuster la largeur au contenu */
  }
}
