.popup-entire-screen {
  display: none;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: theme('colors.green.primary');
  opacity: 0;
  position: fixed;
  top: 0;
  overflow: hidden;
}
