.our-solution-slider{
  .title-custom {
    font-family: 'Playfair Display';
    font-size: 2.75rem;
    line-height: normal;
    font-weight: 400;
    @screen md{
      font-size: 3rem;
      line-height: 62px;
    }
    @screen xl{
      font-size: 3.25rem;
      line-height: 62px;
    }
  }
  .big-content-slides{
    min-height: 975px;
  }
}
