.presentation {
  .svg-container {
    position: relative;
    display: inline-block;
    transition: all 0.5s;
    color: theme("colors.green.light");
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 0%;
      background-color: theme("colors.green.light");
      transition: all 0.5s;
    }
    svg {
      position: relative;
      z-index: 2;
    }
  }

  .svg-container:hover{
    color: theme("colors.green.primary");
    &::after {
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  }
}
