html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Masquer la barre de défilement pour WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  @screen md{
    display: none; /* Masque la barre de défilement */
  }
}

/* Masquer la barre de défilement pour Firefox */
* {
  @screen md{
    scrollbar-width: none; /* Masque la barre de défilement dans Firefox */
  }
}

/* Masquer la barre de défilement pour IE et Edge */
html {
  @screen md{
    -ms-overflow-style: none; /* Masque la barre de défilement dans IE et Edge */
  }
}

/* Masquer la barre de défilement mais conserver le défilement */
body {
  overflow: auto;
  -ms-overflow-style: -ms-autohiding-scrollbar; /* Permet le défilement dans IE et Edge avec barre masquée */
}

