html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Barre de défilement pour WebKit (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: theme('colors.green.primary'); /* Fond transparent */
}

::-webkit-scrollbar-thumb {
  background-color: theme('colors.green.light'); /* Couleur de la barre de défilement */
  border-radius: 4px; /* Coins arrondis de la barre de défilement */
}

/* Barre de défilement pour Firefox */
* {
  scrollbar-color: theme('colors.green.light') theme('colors.green.primary'); /* Couleur de la barre de défilement dans Firefox */
  scrollbar-width: thin; /* Largeur de la barre de défilement dans Firefox */
}
