@font-face {
  font-family: 'Optima Bold';
  src: url('~@fonts/Optima-Bold.woff2') format('woff2'),
  url('~@fonts/Optima-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
