[name="anchor-menu"] {
  .menu {
    transition: all 0.5s ease;
  }
  &.is-fixed {
    position: fixed;
    margin-top: 0;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999 !important;
    overflow: hidden;

    .menu {
      transform: translateY(-100%);
      overflow: hidden;
    }
  }
}

.tab-anchor div{
  &:hover {
        color: theme('colors.red.100');
  }
  &.active{
    color: theme('colors.red.100');
  }
}

#anchor-mobile-toggle{
  .title-dropdown{
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: block ruby;
  }
}

#anchor-mobile {
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: all .2s ease-in-out;

&.is-active {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  transition: all .2s ease-in-out;
}
}
