.popup-entire-screen {
  display: block;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: theme('colors.green.primary');
  opacity: 1;
  position: absolute;
  top: 0;
  overflow: hidden;
}
